*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  color: white;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.highscore {
  /* font-size: 18px; */
  text-align: center;
}
